{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-cluster")) %}
{% do headTitle().append(cluster.__toString()) %}

{% do inlineScript().appendFile('https://dev1.itea4.org/assets/itea/js/react.js') %}

 <div id="root" data-accesstoken="b0d221286954c2ce35c4c14db60d47713e8eecd0"></div>
